@model Service_Demo.Models.ViewModels.PaginationDataViewModel<Service_Demo.Models.ViewModels.SkillsViewModel>
@inject IHttpContextAccessor Accesor

@if(Model.Items.Count() == 0)
{
    <span><h3 class="text-danger text-center mt-5">Record Not Found</h3></span>
}
else
{
<table class="table">
    @{
        var role = @Accesor?.HttpContext?.Session.GetString("Role");
    }
    <thead>
        <tr style="white-space: nowrap;">
            <th scope="col">Skill Name</th>
            <th scope="col">Status</th>
             @if (@role == "Admin")
             {
                 <th scope="col">Action</th>
             }
        </tr>
    </thead>
    <tbody>
            
        @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.SkillName
                    </td>
                    @if(@item.Status == true)
                    {
                        <td style="color: green;">Active</td>
                    }
                    else
                    {
                        <td style="color: Red;">Inactive</td>
                    }
                        @if (@role == "Admin")
                        {
                            <td class="icons">
                                <i data-bs-toggle="modal" data-bs-target="#popupadmineditskill" onclick="AdminSkillDataEdit('@item.SkillName',@item.Id, '@item.Status')" id="edit-icon" class="bi bi-pencil-square"></i>
                        <i data-bs-toggle="modal" data-bs-target="#popupadminremoveskill" data-id="@item.Id" id="delete-icon" class="bi bi-trash"></i>
                    </td>
                    }
                </tr>
            
        }
    </tbody>
</table>
}
<div class="pagination justify-content-end mt-3" style="gap:7px;">
    <input type="hidden" id="currentPageNumber" value="@Model.CurrentPage" />
    <input type="hidden" id="pageCount" value="@Model.PageCount" />
    @if (Model.PageCount > 1)
    {
        @if (Model.CurrentPage > 1)
        {
            <button id="prev-btn">&laquo;</button>
        }
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            string classlbl = "";
            @if (Model.CurrentPage == i)
            {
                classlbl = "pagenumberSelected";
            }
            else
            {
                classlbl = "page-btn";
            }
            <button class="@classlbl" @if(Model.CurrentPage == i){
    <text>disabled</text>
}>@i</button>
        }

        @if (Model.CurrentPage != Model.PageCount)
        {
            <button id="next-btn">&raquo;</button>
        }
    }
</div>

<script>


$(function () {
    var currentPage = @Model.CurrentPage;
    var pageCount = @Model.PageCount;
    localStorage.setItem("currentPageNumber",currentPage);
    $(".page-btn").click(function () {
        debugger;
        var pageNumber = $(this).text();
        if (pageNumber != currentPage) {
            GetAdminSkills(pageNumber);
        }
    });

    $("#prev-btn").click(function () {
        var pageNumber = currentPage - 1;
        if (pageNumber >= 1) {
                GetAdminSkills(pageNumber);
        }
    });

    $("#next-btn").click(function () {
        var pageNumber = currentPage + 1;
        if (pageNumber <= pageCount) {
                GetAdminSkills(pageNumber);
        }
    });

});

</script>